.home__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0% 10% 0 4%;
  height: 86.6vh;
 background-color: #CFFADA;

  .home__container {
    width: 40%;
    padding-top: 8%;

    h1 {
      font-size: 3.5em;
      font-weight: 500;
    }
    p {
      font-size: 1.8em;
      color: gray;
    }

    .home__mini_wrapper {
      display: flex;
      justify-content: space-between;

      .button {
        width: 50%;
        background-color: #10853b;
        border: 1px solid #10853b;
        border-radius: 5px;

        P {
          font-size: 24px;
          font-weight: 500;
          color: #fff;
          padding: 0.1% 15%;

          .icon {
            padding-top: 5px;
          }
        }
      }
      .video__container {
        width: 40%;
      }
    }
  }
  .image__container {
    width: 60%;
    padding-top: 4.7%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: "350px") and (max-width: "650px") {
  .home__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0% 10% 0 10%;
    height: 97vh;
    width: 89%;


    .home__container {
      width: 100%;
      padding-top: 8%;

      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.2em;
        color: gray;
      }

      .home__mini_wrapper {
        flex-direction: column;
        justify-content: flex-start;

        .button {
          margin-top: 5%;
          width: 70%;

          P {
            font-size: 18px;

            padding: 0.7% 20%;

            .icon {
              padding-top: 5px;
            }
          }
        }
        .video__container {
          margin-top: 5%;
          width: 40%;
        }
      }
    }
    .image__container {
      width: 100%;
      padding-top: 3.9%;

      img {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: "650px") and (max-width: "950px") {
.home__wrapper {
   height: 120vh; 
}
}
